.adminProgessBar {
    width: 100%;
}

.bulkContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
    width: fit-content;
}

.bulkContainer form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bulkFirstPartWrapper {
    border: solid 1px rgba(233, 233, 233, 0.588);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;   
    width: fit-content;
    max-width: fit-content; 
}

.bulkUploadingBtn {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}