.adminProgessBar {
    width: 100%;
}

.bulkContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bulkContainer form {
    display: flex;
    gap: 10px;
    align-items: center;
}