.createFurnitureFormContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    border: solid 1px rgba(233, 233, 233, 0.588);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}

@media screen and (max-width: 600px) {
    .createFurnitureFormContainer {
        overflow-x: auto;
        margin-left: 10px;
        gap: 10px
    }
  }

.createForm {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.createCheckbox {
    display: flex;
    justify-content: space-between;
}

.createButton {
    margin-top: 10px;
    
}