.cardContainer {
    border-top: 7px solid #8D8279;     /* 3px red top border */
    border-right: 1px solid #8D8279; /* 5px blue dashed right border */
    border-bottom: 7px solid #8D8279; /* 2px green dotted bottom border */
    border-left: 1px solid #8D8279; /* 1px orange left border */
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;;

}

.cardContainer:hover {
    background-color: rgba(227, 227, 227, 0.108);
    opacity: 0.5;

}

.cardNewOne {
    position: absolute;
    top: 20px;
    right: 1px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    padding: 4px;
    text-align: center;
    font-size: smaller;
    font-weight: bold;
    color: var(--primary);
}

.cardOutstanding {
    position: absolute;
    border: solid 1px yellowgreen;
    background-color: yellowgreen;
    color: aliceblue;
    height: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    bottom: 5px;
}

.cardTitle {
    color: #8D8279;
    border-bottom: solid 3px;
    border-color: #8D8279;
    padding-bottom: 5px;
}

.cardTitle span {
    font-size: 20px;
    font-weight: bold;
}

.cardImage {
    display: flex;
    justify-content: center;
}

.cardimg {
    object-fit: cover;
    max-width: 100%;
}

.cardSubtitle {
    color: rgb(255, 203, 61);
    font-weight: bold;
    font-size: 25px;
}

.cardBorder {
    border-bottom: solid 3px;
    border-color: #8D8279;
    margin-right: 10px;
}

.cardDescPriceContainer {
    display: flex;
}

.cardDescriptionContainer {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.cardDescription {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.cardDescription span {
    font-size: large;
    color: #8D8279;
}

.cardPriceContainer {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    padding-left: 10px;
    flex: 1;
    
}

.cardPrice {
    font-size: large;
    color: #8D8279;
    font-weight: bold;
    text-align: right;
}

.cardDiscount {
    font-size: large;
    color: rgb(255, 203, 61);
    font-weight: bold;
    text-align: right;
}

.cardStockContainer {
    display: flex;
    justify-content: end;
    border-top: solid 3px;
    border-color: #8D8279;
    padding: 5px;
}

.cardInStock {
    color: rgb(0, 103, 0);
}

.cardLastStocks {
    color: rgb(218, 181, 0);
}

.outOfStock {
    color: rgb(222, 16, 16);
}