.carouselContainer {
    margin: 0;
    padding: 0;
    height: 300px;
    margin-bottom: 20px;
  }
  
  .carrouselImage {
    width: 100%;
    height: 300px;
    object-position: center;
    object-fit: cover;
  }
  
  