.navigationContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #8D8279;
    margin-bottom: 10px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #8D8279;
    cursor: pointer;
    font-size: small;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #8D8279;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  /* @media (max-width: 700px) {
    .navigationContainer {
      visibility: hidden
  }
  } */
